.foobar-container {
  width: 100em;
  height: 15em;
  margin-left: -23em;
  margin-top:-2em;
}

#subtitle {
  font-style: italic;
  color:#FFA500;
}

.button{
    background-color: #FFA500; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    font-size:25px;
    text-align: center;
}
#pl-1-score {
  display: inline-block;
  margin-right: 5em;
  margin-top: 0;
  margin-bottom: 0;
}
.blur {
  font-family: sans-serif;
/*    color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);*/
}

#pl-2-score {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;

}
.everything-else {
  position: absolute;
  margin-left: 40em;
  margin-right: 5em;
}

.foobar-in-container.active {
  display:block;
}

.foobar-in-container.animated{
    display: none;
}

.hidden{
  display:none;
}

.foobar-1-container{
    width: 50em;
  height: 25em;
}

.foobar-2-container{
    width: 50em;
  height: 25em;
}

.open-mouth {
  width: 1em;
  height: 1em;
  
  box-shadow:
    40em 9em #000,
    41em 9em #000,
    42em 9em #000,
    43em 9em #000,
    44em 9em #000,
    46em 9em #000,
    45em 9em #000,
    39em 9em #000,
    38em 9em #000,
    37em 9em #000,
    36em 9em #000,
    35em 9em #000,
    34em 9em #000,
    33em 9em #000,
    32em 10em #000,
    31em 11em #000,
    30em 12em #000,
    47em 10em #000,
    48em 11em #000,
    49em 12em #000,
    49em 13em #000,
    49em 15em #000,
    49em 14em #000,
    49em 16em #000,
    49em 17em #000,
    49em 18em #000,
    49em 19em #000,
    49em 20em #000,
    30em 13em #000,
    30em 14em #000,
    30em 15em #000,
    30em 16em #000,
    30em 17em #000,
    30em 18em #000,
    30em 19em #000,
    30em 20em #000,
    30em 21em #000,
    30em 22em #000,
    49em 21em #000,
    49em 22em #000,
    49em 23em #000,
    49em 24em #000,
    49em 25em #000,
    48em 26em #000,
    47em 27em #000,
    46em 28em #000,
    45em 29em #000,
    30em 23em #000,
    30em 24em #000,
    30em 25em #000,
    31em 26em #000,
    32em 27em #000,
    33em 28em #000,
    34em 29em #000,
    35em 30em #000,
    44em 30em #000,
    36em 30em #000,
    37em 30em #000,
    38em 30em #000,
    39em 30em #000,
    40em 30em #000,
    41em 30em #000,
    42em 30em #000,
    43em 30em #000,
    29em 19em #000,
    28em 19em #000,
    28em 18em #000,
    28em 17em #000,
    28em 16em #000,
    29em 16em #000,
    50em 19em #000,
    51em 19em #000,
    51em 18em #000,
    51em 17em #000,
    51em 16em #000,
    50em 16em #000,
    30em 11em #000,
    31em 10em #000,
    32em 9em #000,
    33em 8em #000,
    34em 8em #000,
    36em 8em #000,
    35em 8em #000,
    37em 8em #000,
    39em 8em #000,
    41em 8em #000,
    38em 8em #000,
    40em 8em #000,
    42em 8em #000,
    43em 8em #000,
    44em 8em #000,
    45em 8em #000,
    46em 8em #000,
    47em 9em #000,
    48em 10em #000,
    49em 11em #000,
    30em 10em #000,
    31em 9em #000,
    32em 8em #000,
    33em 7em #000,
    34em 7em #000,
    35em 7em #000,
    36em 7em #000,
    37em 7em #000,
    38em 7em #000,
    39em 7em #000,
    40em 7em #000,
    41em 7em #000,
    42em 7em #000,
    43em 7em #000,
    44em 7em #000,
    45em 7em #000,
    46em 7em #000,
    47em 8em #000,
    34em 6em #000,
    35em 6em #000,
    36em 6em #000,
    37em 6em #000,
    38em 6em #000,
    39em 6em #000,
    40em 6em #000,
    41em 6em #000,
    42em 6em #000,
    43em 6em #000,
    44em 6em #000,
    45em 6em #000,
    48em 9em #000,
    38em 24em #000,
    39em 24em #000,
    40em 24em #000,
    41em 24em #000,
    41em 25em #000,
    40em 25em #000,
    39em 25em #000,
    38em 25em #000,
    38em 26em #000,
    39em 26em #000,
    40em 26em #000,
    41em 26em #000,
    41em 27em #000,
    40em 27em #000,
    39em 27em #000,
    38em 27em #000,
    38em 21em #000,
    39em 21em #000,
    40em 21em #000,
    40em 20em #000,
    40em 18em #000,
    40em 19em #000,
    33em 10em #000,
    34em 10em #000,
    35em 10em #000,
    36em 10em #000,
    38em 10em #000,
    37em 10em #000,
    39em 10em #000,
    40em 10em #000,
    41em 10em #000,
    42em 10em #000,
    43em 10em #000,
    44em 10em #000,
    45em 10em #000,
    46em 10em #000,
    31em 12em #000,
    32em 11em #000,
    33em 11em #000,
    34em 11em #000,
    35em 11em #000,
    36em 11em #000,
    37em 11em #000,
    38em 11em #000,
    39em 11em #000,
    40em 11em #000,
    41em 11em #000,
    42em 11em #000,
    43em 11em #000,
    44em 11em #000,
    45em 11em #000,
    46em 11em #000,
    47em 11em #000,
    48em 12em #000, 
    49em 10em #000,
    38em 14em #000,
    37em 14em #000,
    36em 14em #000,
    35em 14em #000,
    34em 14em #000,
    35em 15em #000,
    36em 15em #000,
    37em 15em #000,
    35em 16em #000,
    35em 16em #000,
    36em 16em #000,
    37em 16em #000,
    41em 14em #000,
    42em 14em #000,
    43em 14em #000,
    44em 14em #000,
    45em 14em #000,
    42em 15em #000,
    43em 15em #000,
    44em 15em #000,
    42em 16em #000,
    43em 16em #000,
    44em 16em #000;

}




.closed-mouth {
  width: 1em;
  height: 1em;
  
  box-shadow:
    31em 9em #000,
    32em 9em #000,
    33em 9em #000,
    34em 9em #000,
    35em 9em #000,
    36em 9em #000,
    37em 9em #000,
    38em 9em #000,
    39em 9em #000,
    40em 9em #000,
    41em 9em #000,
    42em 9em #000,
    43em 9em #000,
    44em 9em #000,
    45em 9em #000,
    46em 9em #000,
    47em 9em #000,
    48em 9em #000,
    30em 10em #000,
    31em 10em #000,
    32em 10em #000,
    33em 10em #000,
    34em 10em #000,
    35em 10em #000,
    36em 10em #000,
    37em 10em #000,
    38em 10em #000,
    39em 10em #000,
    40em 10em #000,
    41em 10em #000,
    42em 10em #000,
    43em 10em #000,
    44em 10em #000,
    45em 10em #000,
    46em 10em #000,
    47em 10em #000,
    48em 10em #000,
    49em 10em #000,
    30em 11em #000,
    31em 11em #000,
    32em 11em #000,
    33em 11em #000,
    34em 11em #000,
    35em 11em #000,
    36em 11em #000,
    37em 11em #000,
    38em 11em #000,
    39em 11em #000,
    40em 11em #000,
    41em 11em #000,
    42em 11em #000,
    43em 11em #000,
    44em 11em #000,
    45em 11em #000,
    47em 11em #000,
    46em 11em #000,
    48em 11em #000,
    49em 11em #000,
    49em 12em #000,
    48em 12em #000,
    31em 12em #000,
    30em 12em #000,
    32em 8em #000,
    33em 8em #000,
    34em 8em #000,
    35em 8em #000,
    36em 8em #000,
    37em 8em #000,
    38em 8em #000,
    39em 8em #000,
    40em 8em #000,
    41em 8em #000,
    42em 8em #000,
    43em 8em #000,
    44em 8em #000,
    45em 8em #000,
    46em 8em #000,
    47em 8em #000,
    33em 7em #000,
    34em 7em #000,
    35em 7em #000,
    36em 7em #000,
    37em 7em #000,
    38em 7em #000,
    39em 7em #000,
    40em 7em #000,
    41em 7em #000,
    42em 7em #000,
    43em 7em #000,
    44em 7em #000,
    45em 8em #000,
    45em 7em #000,
    46em 7em #000,
    39em 6em #000,
    38em 6em #000,
    37em 6em #000,
    36em 6em #000,
    35em 6em #000,
    34em 6em #000,
    40em 6em #000,
    41em 6em #000,
    42em 6em #000,
    43em 6em #000,
    44em 6em #000,
    45em 6em #000,
    30em 13em #000,
    30em 14em #000,
    30em 15em #000,
    30em 16em #000,
    30em 17em #000,
    30em 18em #000,
    30em 19em #000,
    49em 13em #000,
    49em 14em #000,
    49em 16em #000,
    49em 15em #000,
    49em 17em #000,
    49em 18em #000,
    49em 19em #000,
    49em 20em #000,
    49em 21em #000,
    49em 22em #000,
    49em 23em #000,
    49em 24em #000,
    49em 25em #000,
    30em 20em #000,
    30em 21em #000,
    30em 22em #000,
    30em 23em #000,
    30em 24em #000,
    30em 25em #000,
    31em 26em #000,
    32em 27em #000,
    33em 28em #000,
    34em 29em #000,
    48em 26em #000,
    47em 27em #000,
    46em 28em #000,
    45em 29em #000,
    35em 30em #000,
    36em 30em #000,
    37em 30em #000,
    38em 30em #000,
    39em 30em #000,
    40em 30em #000,
    41em 30em #000,
    42em 30em #000,
    43em 30em #000,
    44em 30em #000,
    50em 19em #000,
    51em 19em #000,
    51em 18em #000,
    51em 17em #000,
    51em 16em #000,
    50em 16em #000,
    29em 19em #000,
    28em 19em #000,
    28em 18em #000,
    28em 17em #000,
    28em 16em #000,
    29em 16em #000,
    38em 14em #000,
    37em 14em #000,
    36em 14em #000,
    35em 14em #000,
    34em 14em #000,
    41em 14em #000,
    42em 14em #000,
    43em 14em #000,
    44em 14em #000,
    45em 14em #000,
    42em 15em #000,
    43em 15em #000,
    44em 15em #000,
    42em 16em #000,
    43em 16em #000,
    44em 16em #000,
    35em 15em #000,
    36em 15em #000,
    37em 15em #000,
    35em 16em #000,
    36em 16em #000,
    37em 16em #000,
    40em 18em #000,
    40em 19em #000,
    40em 20em #000,
    40em 21em #000,
    39em 21em #000,
    38em 21em #000,
    38em 26em #000,
    39em 26em #000,
    40em 26em #000,
    41em 26em #000;

}


